<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <header>
        {% block pagename %}
        <h2 align="left"> {{page_title}} </h2>
        {% endblock %}
    </header>

    <nav>
        {% block menu %}
    <ul>
        <a href = "http://127.0.0.1:8000/platform/">Главная</a>
        <br>
        <a href = "games">Магазин</a>
        <br>
        <a href = "cart">Корзина</a>
        <br>
    </ul>
        {% endblock %}
    </nav>

    <main>
        {% block content %}
        <h2> {{ text }} </h2>
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        <form action="/platform">
            <button>Вернуться обратно</button>
        </form>
        {% endblock %}
    </footer>
</body>